.custom-select {
  position: relative;
}

.clear {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.new-tag-form {
  position: absolute;
  margin-top: 4px;
  top: 100%;
  right: 0;
  border-radius: 5px;
  background: #fff;
  border: 1px solid var(--border);
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
  .new-tag-form-inner {
    padding: 14px;
  }
  .sketch-picker  {
    width: 250px !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border: 1px solid var(--reply-divider);
  }

  label {
    font-size: 12px;
    display: block;
    margin-bottom: 4px;
  }

  [type=text] {
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 6px 8px;
    font-size: 12px;
    outline: none;
    box-shadow: none;
    margin-bottom: 14px;
    &:active, &:focus {
      border-color: var(--focus-border);
    }
  }

  .btn {
    width: 100%;
    font-weight: bold;
    appearance: none;
    border: none;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
    cursor: pointer;
    background: var(--gray-1);
    transition: all 150ms ease;
    filter: brightness(100%);
    &:hover {
      filter: brightness(90%);
    }
  }
  .btn-success {
    background-color: var(--success);
    color: var(--white);
  }
}
