@import '../../constants/styles';
@import '../../constants//overlay';

.AnnotationContentOverlay {
  @extend %overlay;
  @extend %word-wrap;

  display: flex;
  flex-direction: column;
  max-width: 215px;
  padding: 8px;

  .author {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .contents, .replies {
    margin-top: 5px;
    white-space: pre-wrap;
  }
}  

.note-detail {
  font-size: 12px;
  margin-bottom: 10px;
}

.custom-tag-container {
  margin: -3px;
}