@import '../../constants/styles';
@import '../../constants/modal';
@import '../../constants/modal';
@import '../../fileman.scss';

//customization
.FilterAnnotModal {
    @extend %modal;
    font-size: 0.9em;
    .container {
        @extend %modal-shared-container-style;
        display: grid;
        width: 686px;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0px 0px 3px 0px var(--document-box-shadow);
        background: var(--component-background);
        @include mobile {
            width: 100%;
            position: fixed;
            left: 0;
            bottom: 0;
            min-width: 400px;
            padding-top: 24px;
            padding-bottom: 16px;
            padding-left: 24px;
            padding-right: 24px;
            min-width: 100px;
            .swipe-indicator {
                background: var(--divider);
                border-radius: 2px;
                height: 4px;
                width: 38px;
                position: absolute;
                top: 12px;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                @include tablet-and-desktop {
                    display: none;
                }
            }
        }
        .message {
            font-size: 14px;
            @include mobile {
                font-size: 16px;
            }
        }
        .filter-modal {
            @include modal4-body;
            .filter-options {
                .filter {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 15px;
                    .heading {
                        font-size: 15px;
                        @include mobile {
                            font-size: 18px;
                        }
                    }
                    .buttons {
                        display: grid;
                        padding: 6px 0 6px 0;
                        grid-template-columns: 100px 100px;
                        .filterAnnotationTypesCheckBox {
                            margin-right: 40px !important;
                        }
                    }
                    .tag-buttons {
                        display: table;
                        padding: 6px 0 6px 0;
                    }
                    .date-buttons {
                        display: table;
                        padding: 0px 0 0px 0;
                        -webkit-border-vertical-spacing: 5px;
                        .date-row {
                            display: table-row;
                            margin-top: 6px;
                            line-height: 35px;
                            .date-cell {
                                display: table-cell;
                                height: 35px;
                                margin-top: 6px;
                                .MuiOutlinedInput-root {
                                    height: 35px;
                                    outline: none;
                                    input {
                                        border: 0px !important;
                                        pointer-events: none; 
                                    }

                                    .MuiOutlinedInput-notchedOutline {
                                        width: auto !important;
                                        outline: none !important;
                                        legend {
                                            width: auto !important;
                                        }
                                    }
                                }
                            }
                            .date-cell-header {
                                display: table-cell;
                                width: 150px;
                                vertical-align: middle;
                                font-size: small;
                                height: 35px;
                                p {
                                    margin-bottom: 0px !important;
                                }
                            }
                            .date-cell-seperator {
                                display: table-cell;
                                width: 45px;
                                font-size: x-large;
                                vertical-align: middle;
                                padding-left: 10px;
                                padding-right: 10px;
                                height: 35px;
                                p {
                                    height: 35px;
                                    margin-bottom: 0px !important;
                                }
                            }
                        }
                    }
                    .annotationTypes {
                        display: inline-flex;
                        padding: 6px 0 0 0;
                        margin-left: -10px;
                        grid-template-columns: 100px 100px;
                        height: 37px;
                        .annotationType {
                            margin-right: 30px !important;
                            .MuiCheckbox-root {
                                padding-top: 0px !important;
                            }
                            label {
                                vertical-align: middle;
                                height: 28px;
                            }
                        }
                    }
                    .colorSelect {
                        display: flex;
                        flex-direction: row;
                        .colorCell {
                            width: 15px;
                            height: 15px;
                            border-radius: 10000000px;
                            margin: 4px;
                        }
                    }
                    .author-buttons {
                        display: table;                        
                        .authors {
                            display: table-row;
                            .multi-select {
                                display: table-cell;
                                width: fit-content;
                            }     
                            .replies {
                                display: table-cell;
                                width: 105px;
                                align-content: right;
                                padding-left: 40px;
                                vertical-align: middle;
                            }
                            .replies-label {
                                display: table-cell;
                                width: 82px;
                                vertical-align: middle;
                            }
                        }
                        label {
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }

    }
}

.MuiTypography-root {
    font-size: 13px !important;
    font-family: Lato, sans-serif !important;
}


textarea, [type=date], .date-field input {
    width: 100%;
    padding-left: 8px;
    border: 1px solid var(--border);
    border-radius: 4px;
    color: var(--text-color);
    padding-top: 4px;
    padding-bottom: 4px;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    font-size: medium;

    &:focus {
      outline: none;
      border: 1px solid var(--focus-border);
    }

    &::placeholder {
      color: var(--placeholder-text);
    }
  }

  .date-field {
    position: relative;
    font-size: medium;
    input {
      padding-right: 25px;
      margin-bottom: 0;
    }
    > svg {font-size: medium;
      position: absolute;
      top: 15px;
      right: 8px;
      pointer-events: none;
    }

    .react-datepicker {
      box-shadow: 0 0 3px 0 rgb(0 0 0 / 20%);
      border: none;
    }

    .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
      border-bottom-color: var(--primary);
    }

    .react-datepicker__header {
      background-color: var(--primary);
      border: none;
    }
    .react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
      color: #FFF;
      padding-bottom: 8px;
    }
    .react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow,
    .react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before {
      border-color: #FFF;
      top: 12px;
    }

    .react-datepicker__day-names {
      background-color: #e0e0e0;
    }

    .react-datepicker__day:hover {
      border-radius: 100%;
      background-color: #dae6f2;
    }


    .react-datepicker__day--today {
      background-color: #dae6f2;
    }

    .react-datepicker__day {
      border-radius: 100%;
    }

    .react-datepicker__day:hover,
    .react-datepicker__day--keyboard-selected,
    .react-datepicker__day--selected,
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__day--in-range
    {
      border-radius: 100%;
      background-color: var(--primary);
      color: #FFF;
    }

  }

.react-datepicker__header__dropdown.react-datepicker__header__dropdown--scroll {
    position: relative;
    left: 47px;
    top: -39px;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 15.104px;
    font-weight: 700;
    line-height: 35px;
    color: white;
    height: 0px;
}

.react-datepicker__current-month.react-datepicker__current-month--hasYearDropdown {
    position: relative;
    height: 28px;
    top: 0px;
    padding-bottom: 0px;
}

.react-datepicker__year-dropdown {
    background-color: var(--color-gray-4);
}

a.react-datepicker__navigation.react-datepicker__navigation--years.react-datepicker__navigation--years-upcoming {
    color: black;
}

span.react-datepicker__year-read-view--selected-year {
    color: transparent;
}

.react-datepicker__year-option {
    color: black;
}

span.react-datepicker__year-read-view--down-arrow {
    margin-top: 2px;
}


//customization