@import "../../fileman.scss";

.float-container {
    border: 3px solid #fff;
    height: 420px;
    width: 100%;
    display: table;
    margin-top: -50px !important;
}

.container-page {
    display: unset !important; 
}

.float-container-row {
    display: table-row;
}

.float-child-section {
    width: 40%;
    float: left;
    height: 430px;
    display: table-cell;
    margin-top: 20px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 35px;
        
    h5 {
        font-size: .875rem;
    }
}  

ul[role="tree"]{
    display: block !important;
    width: 100% !important;
    position: relative;
}

.float-child-document {
    width: 60%;
    float: left;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 35px;
    height: 430px;
    display: table-cell;
    margin-top: 20px;
        
    h5 {
        font-size: .875rem;
    }
}  

.page-container {
    position: relative; 
    display: flex;
}

.page-number {
    //position: absolute;
    //bottom: 10px;
    //right: 0;
    //left: 50%;
    //margin: auto;
    margin-top: 3px;
}


.button-container {
    text-align:center;
    height: 100px;
    padding: 30px;
}  

.button-action{
    display: inline-block;
}


.image-item {
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: lightgray;
    position: unset !important;
    left: unset !important;
    top: unset !important;
    margin-top: 20px; 
    margin-left: 20px;
    display: grid !important;
    justify-items: center;
    float: left;
    div {
        width: 210px;
        border-radius: 5px;
        align-content: center;
        justify-items: center;
        justify-content: center;
        justify-self: center;
        display: flex;
        /* padding: 5px; */
        align-items: center;
        justify-content: center;
        display: flex;
        img {
            width: auto;
            height: auto;
        }
    }
}

.gallery-view {
    display: inline-flex;
    //height: fit-content !important;

}

.gallery-outline {
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: lightgray;
    //padding: 10px;
    overflow-x: hidden;
    height: 400px !important;
}

.not-selected:hover {
    outline: 0px solid #5586cf !important;
}

.image-item:hover {
    outline: 1px solid #5586cf !important;
}

.react-photo-gallery--gallery {
    width: 100% !important;   
    overflow-y: scroll;
    width: auto; 
    div {
        display: inline-flow;
        height: 100% !important;
        div:last-child {
            margin-bottom: 20px;
        }
    }
}

.image-item-selected {
    outline: 1px solid #5586cf !important;
    span {
        color: #5586cf !important;
    }
    div {
        display: grid;
        div {
            bottom: -225px!important;
            right: -80px!important;
            left: unset !important;
            top: unset !important;
            position: relative !important;
        }
    }
}

.float-child-section-tree {
    height: 100%;
    border-color: #F0F0F0;
    border-style: solid;
    border-width: 1px;
    overflow-y: overlay;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.float-child-document-tree > .MuiTreeView-root {
    max-width: unset !important;   
    padding: 3px !important;
}

.float-child-section-tree * .Mui-selected {
    background-color: #DAE6F2 !important;
    border-color: #5586cf !important;  
    border-radius: 5px !important;
    border-style: solid !important;
    border-width: 1px !important;
}

.float-child-document-tree * .Mui-selected {
    background-color: #DAE6F2 !important;
    border-color: #5586cf !important;  
    border-radius: 5px !important;
    border-style: solid !important;
    border-width: 1px !important;
}

.float-child-document-tree * .MuiTreeItem-content {
    border-color: #F0F0F0;
    border-style: solid;
    border-width: 1px;
    overflow-y: scroll;
    max-width: unset !important;
    min-height: 39px !important;
    margin: 2px !important;
    border-radius: 5px;
    width: 99%;
    background-color: #f7f7f7 !important;
}

.Mui-disabled {
    opacity: 0.7 !important;
}

.float-child-section-tree * .MuiTreeItem-label {
    min-height: 39px !important;
    padding-top: 8px;
}

.float-child-document-tree * .MuiTreeItem-label {
    height: 45px !important;
    padding-top: 5px;
    display: table;
}

.float-child-document-tree {
    height: 100%;
    border-color: hsla(0,0%,89.8%,.5);
    border-style: solid;
    border-width: 1px;
    overflow-y: overlay;
    border-radius: 5px;
}

.float-child-header {
    display: table;
    margin-bottom: 5px;
    .float-child-header-row {
        display: table-row;
        div {
            display: inline-flex;;
            width: 85px;
        }
        h5 {
            display: table-cell;
            width: 100%;
        }
    }
}

ul[role=tree] {
    max-width: unset !important;
    height: unset !important;
    padding: 5px;
}

.MuiTreeItem-content {
    display: flex;
    flex-direction: row-reverse;
}

.float-child-document-tree-label {
    display: grid;   
    vertical-align: middle;
    float: left;
    padding-top: 7px;
}

.float-child-document-tree-icon {
    display: table-cell;
    padding-left: 8px;
    width: 50px;
    svg {
        height: 23px;
        padding-bottom: 3px;
    }
}

.float-child-document-tree-item {
    display: table-row;
}

.float-child-document-tree-label-name {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    width: 100%;
}

.float-child-document-tree-label-page {
    width: 100px;
    padding-left: 5px;
}

.__react_component_tooltip.show {
    opacity: 1 !important;
}

.footer {
    padding-right: 15px;
}    

.bundle-thumbnail-header {
    @include modal4-header;
    padding-top: 10px;
    padding-left: 10px;

    h5 {
        font-size: .875rem;
    }
    
    button {
        margin-top: 0px;
        margin-right: 0px;
        right: 25px;
    }
} 

.bundle-change-header{
    @include modal4-header;
    padding-top: 10px;
    padding-left: 10px;
        
    h5 {
        font-size: .875rem;
    }
    
    button {
        margin-top: 0px;
        margin-right: 0px;
        right: 25px;
    }
}

.split {
    display: flex;
    flex-direction: row;
    height: 430px;
    margin-bottom: 40px;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 430px;
    margin-top: 30px;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
    height: 388px;
    margin-top: 70px;
}