@import "../../constants/styles";
@import "../../constants/modal";
@import "../../fileman.scss";

.LinkModal {
  @extend %modal;
  font-size: 0.9em;

  .container-link {
    width: 800px;
  }

  .container-page {
    width: 1215px;
    height: 600px;
  }

  .container {
    @extend %modal-shared-container-style;
    display: grid;
    flex-direction: column;
    align-items: center;   
    min-width: 400px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px var(--document-box-shadow);
    padding: 8px 8px;
    background: var(--component-background);

    @include mobile {
      width: 100%;
      position: fixed;
      left: 0;
      bottom: 0;
      padding-top: 24px;
      padding-bottom: 16px;
      padding-left: 24px;
      padding-right: 24px;
      min-width: 100px;

      .swipe-indicator {
        background: var(--divider);
        border-radius: 2px;
        height: 4px;
        width: 38px;
        position: absolute;
        top: 12px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        @include tablet-and-desktop {
          display: none;
        }
      }
    }

    .link-modal {
      @include modal4-body;

      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 25px;
      .link-table {
        display: table;
        div {
          display: table-row;
          .urlInput {
            display: table-cell;
            width: 470px;
          }
          button {
            display: table-cell;
            width: 125px; 
            padding: 5px;
            span {
              vertical-align: middle;
            }
          }
        }

      }
      .page-table {
      }
    }

    .link-header {
      @include modal4-header;
      padding-top: 10px;
      padding-left: 10px;
      
        button {
          margin-top: 0px;
          margin-right: 0px;
        }
    }

    .StylePopup {
      border-radius: 0px;
      box-shadow: none;
    }

    .divider-horizontal {
      width: 100%;
      height: 1px;
      margin-bottom: 8px;
      background: var(--divider);
    }

    .tab-panel {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .tab-list {
      display: flex;
      margin-bottom: 16px;
      border-radius: 4px;
      border: 1px solid var(--border);
      height: 28px;
      color: var(--text-color);
      margin: 8px 0;
      width: 100%;

      .divider {
        width: 1px;
        background: var(--divider);
      }

      .tab-options-button {
        text-align: center;
        vertical-align: middle;
        line-height: 24px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        flex: 1;
        border-radius: 0px;
        cursor: pointer;

        &:first-child {
          border-bottom-left-radius: 4px;
          border-top-left-radius: 4px;
        }

        &:last-child {
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px;
        }

        &:hover {
          background: var(--popup-button-hover);
        }

        &.selected {
          background: var(--popup-button-active);
          cursor: default;
        }
      }

      .tab-options-divider {
        width: 1px;
        background: var(--divider);
      }
    }

    .linkInput {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      button {
        height: 50px;
      }
    }

    input {
      margin-top: 8px;
      width: 100%;
      height: 50px;
      padding: 4px 8px 6px 8px;
      border: 1px solid var(--border);
      border-radius: 4px;
      color: var(--text-color);

      &:focus {
        outline: none;
        border: 1px solid var(--focus-border);
      }

      &::placeholder {
        color:var(--placeholder-text); 
        filter: grayscale(100%);
      }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }

    form {
      width: 100%;
    }
  }
}
