@import '../../constants/styles';
@import '../../constants/note';

.NoteContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  flex: 1;
  color: var(--text-color);
  padding-bottom: 12px;

  &.isReply {
    padding-bottom: 0px;
  }

  &.unread {
    &.isReply {
      background: rgba($color:$pdftron-blue, $alpha: 0.08);
    }

    &.clicked {
      .author-and-time {
        span {
          font-weight: normal;
        }
      }
    }

    .author-and-time {
      span {
        font-weight: bold;
      }
    }
  }

  .container {
    margin-top: 4px;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    user-select: text;
    cursor: text;
    padding-left: 40px;
    padding-right: 12px;
  }

  .container-reply {
    margin-top: 8px;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    user-select: text;
    cursor: text;
  }

  .edit-content {
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    padding-left: 40px;
    padding-right: 12px;

    @include ie11 {
      flex: none;
    }

    textarea, [type=date] {
      width: 100%;
      padding-left: 8px;
      border: 1px solid var(--border);
      border-radius: 4px;
      color: var(--text-color);
      padding-top: 4px;
      padding-bottom: 4px;
      resize: none;
      overflow: hidden;
      box-sizing: border-box;
      margin-bottom: 10px;

      &:focus {
        outline: none;
        border: 1px solid var(--focus-border);
      }

      &::placeholder {
        color: var(--placeholder-text);
      }
    }

    .ui__base {
      margin-right: 0;
    }

    .ui__choice__label {
      font-size: 12px;
      padding-left: 5px !important;
    }

    .ui__choice__input__check--checked {
      background-color: var(--success) !important;
      border-color: var(--success) !important;
    }

  }

  .edit-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 4px;
    margin-bottom: -12px;

    > div {
      margin-right: 4px;
    }

    button {
      flex: 1;
      @include button-reset;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 40px;
      padding: 0 8px;
      font-weight: 600;
      svg {
        margin-top: -0.125em;
        margin-right: 6px;
        font-size: 14px;
      }
      &.disabled {
        background: var(--gray-6);
        border-color: var(--gray-6);
        cursor: not-allowed;
      }
    }

    .save-button {
      background: var(--success);
      color: var(--white);
      &:hover {
        background: var(--success-active);
        color: var(--white);
      }
    }
    .cancel-button {
      background-color: var(--gray-2);
      color: var(--text-color);
      &:hover {
        background-color: var(--gray-4);
        color: var(--text-color);
      }
    }
    .delete-button {
      background: var(--primary);
      color: var(--white);
      &:hover {
        background: var(--primary-active);
        color: var(--white);
      }
    }
  }

  &.isReply {
    .edit-buttons {
      button {
        font-size: 12px;
        height: 36px;
        svg {
          font-size: 12px;
        }
      }
    }
  }

  .reply-content {
    padding-left: 0px;
  }

  .contents {
    white-space: pre-wrap;
    color: var(--text-color);
    margin-right: 5px;
    padding: 0;
    word-break: normal;
    word-wrap: break-word;
    user-select: text;

    .highlight {
      background: #fffc95;
      color: #333333;
    }
  }


  .highlight {
    background: #fffc95;
  }

  .selected-text-preview {
    padding-left: 52px;
    padding-top: 8px;
  }
}